$colorLightOrange: #FCE9DA;
$colorLightPink: #FFCEC7;
$colorBrown: #321E17;
$colorPink: #E098AE;
$colorWhite: #fffdfd;

* {
    font-family: 'Libre Baskerville','Microsoft JhengHei';
    color: $colorBrown;
    // outline: 0.2px solid olivedrab;
}

h1, h3, h5, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}