@import "common";


body {
    margin: 0;
    padding: 0;
    // outline: 0.5px solid orange;
}

h3 {
    font-size: 3rem;
}

h5 {
    font-size: 1.2rem;
}

#stageFour {
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        background-color: $colorLightPink;
        box-shadow: 0 5px 5px #ccc;
        .logo-wrap {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
            h1 {
                color: $colorWhite;
                margin-left: 1rem;
            }
        }
        .menu-list {
            display: flex;
            align-items: center;
            li {
                padding: .5rem;
                color: $colorWhite;
                a {
                    &:hover {
                        color: $colorWhite;
                    }
                }
            }
        }
    }
    .content {
        width: 60%;
        margin: auto;
        padding: 1rem 3rem;
        display: flex;
        flex-direction: column;
        h3 {
            margin: 1rem 0;
            color: $colorLightOrange;
        }
        p {
            margin: 1rem 0;
            text-align: justify;
        }
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .footer {
        padding: 1rem 2rem;
        background-color: lighten($colorLightPink, 0.6);
        ul {
            display: flex;
            justify-content: center;
            li {
                padding: .5rem;
                a {
                    &:hover {
                        color: $colorWhite;
                    }
                }
            }
        }
    }
}