@import "common";

@mixin titleStyle {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    font-weight: 600;
    background-color: $colorLightPink;
}

body {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 3rem;
}

h5 {
    font-size: 1.2rem;
}

#stageNine {
    width: 40vw;
    margin: auto;
    .order-summary {
        width: 100%;
        margin: 1rem 0;
        border: 1px solid $colorPink;
        border-radius: 3px;
        .title {
            @include titleStyle;
        }
        // 外層有 ul
        .order-detail {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 1rem 0.5rem 1rem;
            p {
                font-size: 1.2rem;
                color: $colorPink;
            }
        }
        .order-detail:nth-child(3) {
            p, span {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
        // 外層有 ul
    }
    .order-list{
        width: 100%;
        margin: 1rem 0;
        border: 1px solid $colorPink;
        border-radius: 3px;
        .title {
            @include titleStyle;
        }
        ul {
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem 2rem;
                .item-img {
                    flex: 1;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .item-content {
                    flex: 1;
                    margin-left: 1rem;
                    .item-price {
                        margin-top: .5rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}