@import "common";

body {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 3rem;
}

h5 {
    font-size: 1.2rem;
}


// 關卡三
#stageThree {
    width: 100%;
    display: flex;
    .left-block {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        background-color: $colorLightPink;
        .logo-wrap {
            width: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
            }
            h1 {
                margin-left: .5rem;
                color: $colorWhite;
            }
        }
        .menu {
            width: 70%;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            li {
                a {
                    font-weight: 600;
                    font-size: 1.5rem;
                    text-align: center;
                    &:hover {
                        color: $colorWhite;
                    }
                }
            }
        }

    }
    .right-block {
        flex: 7;
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem;
        background-color:$colorLightOrange;
        h3 {
            padding: 0 1rem;
            color: $colorPink;
        }
        p {
            padding: 0 1rem;
            margin: 1rem 0;
            text-align: justify;
        }
        .items-gallery {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .dessert-item{
                width: calc(100%/3);
                overflow: hidden;
                padding: 1rem;
                box-sizing: border-box;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}